*{
	box-sizing: border-box;
}

body{
	background-image: url('pattern.svg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 1.1em;
	color: #4d4f53;

}

h1, h2, h3, a{
	font-family: 'Exo', sans-serif;
}

main{
	background-color: #fff;
	max-width: 1000px;
	display: block;
	margin: 0 auto;
	border-radius: 4px;
}

.container{
	margin: 0 auto;
	text-align: center;
	padding: 6%;
	margin: 4%;
}

h1{
	font-size: 3em;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin: 0.8em 1em;
	font-size: 1.3em;
}

a{
	text-decoration: none;
	color: #f47721;
	font-weight: bold;
}

h2{
	color: #f47721;
}

section{
	margin-top: 4em;
}

.sub{
	margin-top: 4em;
}

.btn{
	color: #fff;
	background-color: #f47721;
	padding: 5px 15px; 
	margin: 6%;
	border-radius: 4px;
	font-weight: normal;
}